*
{
    margin: 0;
    padding: 0;
}


header
{
    margin-top: 20px;
    position: sticky;

}

header img
{
    width: 100%;
    float: none;
    text-decoration: none;
    
}

body
{
    background-color:  #A9BED9;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* navigation bar */

nav
{
    position: sticky;
    top: 10px;
    border-radius: 20px;
    
}



nav, footer
{
    text-align: center;
    background-color: #8C471F;
    height: 50px;
    line-height: 50px;
    width: 100%;
}


nav a
{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

nav ul
{
    list-style-type: none;
}

nav ul li
{
    display: inline-block;
}

nav ul li ul
{
    display: none;
    position: absolute;
    background-color: #8C471F; 
}

nav ul li ul li
{
    display: block;
    text-align: left;
}


nav ul li ul li a
{
    font-size: 16px;
}

nav ul li:hover
{
    background-color: slategrey;
}

nav ul li:hover ul
{
    display: block;
}






footer
{
    border-radius: 20px 20px 0px 0px;
}


img
{
    float: left;
}

/* fonts, colours */

h1
{
    font-size:50px;
    text-transform: uppercase;
    text-shadow: -2px -2px 8px silver;
    margin: 20px 0px;

}

a
{
    text-decoration: none;
}

h2
{
    font-size: 30px;
    margin: 15px 0px;

}

h1, h2
{
    color: #8C471F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

article
{
    color: darkslategray;

}


/* Fugle billeder menu  */

.birdindex
{
display: grid;
column-gap: 25px;
row-gap: 15px;
grid-template-columns: 1fr 1fr 1fr;
margin-bottom: 15px;
}

.birdindex div
{
   display: flex;
   align-self: center;
   justify-items: space-evenly;
}

.birdindex h2
{
    font-size: 20px;
}


ul
{
    list-style-position: inside;
}

.birdimg
{
    float: left;
    margin-right: 10px;
}

.birdfacts
{
    height: 212px;
    background-color: skyblue;
    line-height: 1.5;
    padding: 10px;
    border-color: #8C471F;
    border-style: solid;
    border-width: 3px;
}

.birdindex img
{
    border-radius: 20px;
}