body
{
    background-color:  #A9BED9;
    font-family: Arial, Helvetica, sans-serif
}

header
{
    background-color: #A9BED9;
}

main
{
    background-color: #A9BED9;
}

footer
{
    background-color: #A9BED9;
}

h1
{
    color: #8C471F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article
{
    color: black;

}

h2
{
    color: #8C471F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}