*
{
    margin: 0;
    padding: 0;
}


header
{
margin-top: 20px;

}

body
{
    background-color:  #A9BED9;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



header img
{
    width: 100%;
    float: none;
    text-decoration: none;
}


nav, footer
{
    text-align: center;
    background-color: #8C471F;
    height: 50px;
    line-height: 50px;
    width: 100%;
}


nav a
{
    text-decoration: none;
    color: whitesmoke;
    margin: 0 80px;
    text-transform: uppercase;
    font-size: 24px;
}


img
{
    float: left;
}



h1
{
    font-size:50px;
    text-transform: uppercase;
    text-shadow: -2px -2px 8px silver;

}


h2
{
    font-size: 30px;
}

h1, h2
{
    color: #8C471F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

article
{
    color: black;

}

.row
{
    background-color: yellow;   
}

.row-element
{
    display: inline-block;
    text-align: center;
}

ul
{
    list-style-position: inside;
}

.birdimg
{
    float: left;
    margin-right: 10px;
}

.birdfacts
{
    height: 212px;
    background-color: skyblue;
    line-height: 1.5;
    padding: 10px;
    border-color: #8C471F;
    border-style: solid;
    border-width: 3px;
}